@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@namespace BlogBlazor.Pages

<html>
    <head>
        <base href="~/" />
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
        <script src="_framework/blazor.server.js"></script>
    </body>
</html>